# TMDB API Configuration
TMDB_API_KEY=your_tmdb_api_key_here


# SQL Server Configuration
SQLSERVER_CONN=Driver={ODBC Driver 18 for SQL Server};Server=your server name;Database=movies;Trusted_Connection=yes;Encrypt=no;